@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: hsl(0, 0%, 14%); */
  --nav-height: 48px;
  --screen-height: calc(100vh - var(--nav-height));
  --bg-color: rgb(40, 40, 40);
  --bg-color-dark: #0f0f0f;
  background-color: var(--bg-color-dark);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.screen-height {
  height: var(--screen-height);
}
.nav-height {
  height: var(--nav-height);
}
.block-header {
  @apply p-2 h-9 text-sm font-bold bg-layer-3 flex flex-row items-center gap-2;
}

.bg-color {
  background-color: var(--bg-color);
}
.bg-color-dark {
  background-color: var(--bg-color-dark);
}
.dark {
  --color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
