@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: hsl(0, 0%, 14%); */
  --nav-height: 48px;
  --screen-height: calc(100vh - var(--nav-height));
  --bg-color: rgb(40, 40, 40);
  --bg-color-dark: #0f0f0f;
  background-color: var(--bg-color-dark);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.screen-height {
  height: var(--screen-height);
}
.nav-height {
  height: var(--nav-height);
}
.block-header {
  @apply p-2 h-9 text-sm font-bold bg-layer-3 flex flex-row items-center gap-2;
}

.bg-color {
  background-color: var(--bg-color);
}
.bg-color-dark {
  background-color: var(--bg-color-dark);
}
.dark {
  --color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;
}
.green-text {
  @apply text-green-600;
}
.red-text {
  @apply text-red-600;
}

input.input {
  /* background: var(--background); */
  border-radius: 8px;
  height: 40px;
  padding: 10px 16px;
  transition: all 0.2s ease;
  border: 1px solid transparent;
}

input.input:hover,
input.input:focus {
  /* background: white; */
  border-color: rgba(0, 0, 0, 0.14);
  box-shadow: 0 0 0 3px rgb(22, 163, 74, 0.4);
}
input.input:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(22, 163, 74, 1);
}
.green-button {
  @apply flex flex-row font-bold items-center justify-center gap-4 py-2 px-4 rounded text-green-600 bg-green-400 bg-opacity-10 hover:bg-opacity-30 text-center;
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
